body{
    background-color: #F9F4F3;
}

#form{
    border: solid;
    padding-left: 10%;
    padding-right: 5%;
    border-radius: 10px;
    background-color: whitesmoke;
}

p{
    font: bold;
}

#register{
    font-size: 70px;
    padding-bottom: 5%;
}

div,fieldset{
    padding-bottom: 5%;
}

div>p,label{
    margin-bottom: 3px;
    font:bold;
    font-size: 20px;
}

.text-input{
    height: 40px;
    width: 250px;
}

.button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color:white;
}

.country{
    padding-bottom: 5%;
}

#submit{
    width: 150px;
}

.submit_div{
    padding-left: 10%;
}

.error_message {
    color: red;
    font-weight: bold;
}

.additional-fields {
    display: none;
}

#residence_description{
    width: 300px;
    height: 100px;
}

#divmap{
    display: none;
}

#showmapdiv{
    display: none;
}
#postmessageContainer {
    max-width: 350px;
}

#postmessage {
    font-size: 18px;
    word-break: break-all;
}