<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Registers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registers</servlet-name>
        <servlet-class>servlets.Registers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registers</servlet-name>
        <url-pattern>/Registers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
